body{
    background-color: black;
}

.legion_banners{
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.legion_banners img{
    max-width: 100%;
}

main h3{
    z-index: 1;
    background: none;
    display: flex;
    width: fit-content;
    position: relative;
    top: 100px;
    color: white;
    max-width: 70%;
    font: 300;
    left: 35%;
}
main h5{
    z-index: 1;
    background: none;
    display: flex;
    width: fit-content;
    position: relative;
    color: white;
    top: 100px;
    text-align: left;
    max-width: 70%;
    font-size: medium;
    font-weight: 100;
    left: 15%;
}

.task{
    max-width: 50%;
    position: relative;
    top: 300px;
    left: 50px;
}

.task-desc{
    max-width: 20%;
    position: relative;
    top: 320px;
    left: 50px;
    letter-spacing: 1px;
    text-align: justify;
}

.center-frame{
    display: flex;
    justify-content: center;
    align-items: center;
}