main{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.holder{
    display: flex;
    margin-top: 8px;
}

.left{
    width: 20vw;
    border-right: 1.5px solid rgb(87, 87, 40);
    padding: 20px 15px;
}

.left h5{
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.left label{
    margin: 4px;
}

/* Product Section */
.product-section{
    margin: 50px 20px 100px 20px;
    text-align: center;
}

.product-holder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.product-image-holder{
    background-color: white;
    min-height: 100px;
    min-width: 100px;
    max-height: 500px;
    max-width: 300px;
    margin: 25px 50px;
    text-align: center;
    align-content: center;
    display: block;
}

.product-image-holder img{
    max-width: 100%;
    max-height: 250px;
}

.product-image-holder h4{
    margin-top: 5px;
}

.product-image-holder:hover{
    color: rgb(87, 87, 40);
    text-shadow: 0em 0em 12px rgba(105, 105, 105, 0.2);
    cursor: pointer;
}